/*LOGOTIPO*/
#logo {
    width: 15vw;
    height: auto;
    padding: 1vh;
}
/*ESTRUTURA BÁSICA*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    background-color: rgb(255, 230, 230, 0.25);
}
#main{
    min-height: 60vh;
    background: linear-gradient(to bottom, rgb(255, 230, 230, 0.5), #F3BFBE);
    padding-top: 3vh;
    padding-bottom: 7vh;
    font-size: 1.1rem;
}
#main p{
    padding-left: 12vw;
    padding-right: 12vw;
}
#rodape{
    background-color: #BF6B7B;
    text-align: center;
    font-size: 0.85rem;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
/*ELEMENTOS*/
h1{
    padding-left: 10vw;
    font-size: 1.35rem;
    padding-bottom: 2rem;
}
/*MENUS DE NAVEGAÇÃO*/
    /*PRINCIPAL*/
#menu{
    list-style: none;
    background-color: #E0A8B4;
    text-align: center;
}
#menu li{
    display: inline;
}
#menu li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 30px 10px 30px;
}
#menu li a:hover{
    background-color: #F0BFCC;
    transition: 0.5s;
}
    /*GALERIA*/
#navegacao-galeria{
    list-style: none;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 1;
}
#navegacao-galeria li{
    display: inline;
}
#navegacao-galeria li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 30px;
}
/*GALERIA DE IMAGENS*/
.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw 5vh;
}
.itens-galeria{
    width: 340px;
    height: 340px;
    border: 4px solid #FFF;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .2s linear;
}
.itens-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.itens-galeria:hover{
    transform: scale(1.02);
    z-index: 0;
}
.categorias-galeria{
    padding: 2vh;
    color: #BF6B7B;
    text-shadow: 1px 1px 0 #000;
}
#divmapa{
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 2vh 0 5vh 0;
}
#mapa{
    width: 90vw;
    height: 70vh;
    border: 0;
}